<img src="/assets/images/cnn-icon.png" alt="cnn logo" style="width:15%;"> 

{{log model}}

{{#each model.articles as |item|}}
<hr>
<div class="panel panel-primary">
  <div class="panel-heading"><span class="badge">Title</span>
    <h3>{{item.title}}</h3></div>
  <div class="panel-body">
    <span class="badge">Description</span>
    {{item.description}}
  </div>
  <div class="panel-footer"><span class="badge">URL to News</span>
     <a href={{item.url}} target="_blank" role="link" aria-label={{item.title}}>{{item.title}} </a>
</div>
</div>

{{/each}}
{{outlet}}
